{% extends "template_signin.html" %}
{% block menu %}

<HTML>
    <head>

        <title>Logged In!</title>
                        
    </head>
<body>



        <HR>
            <h1> You have signed in!</h1>
            <p>&nbsp&nbsp&nbspNow that you have signed in, you can check out various stock analysis on the top menu. <br>&nbsp&nbsp
                This website downloads WIKI dataset from Quandl.com's API and uses various stock analysis methods on the downloaded stock prices.<br>&nbsp&nbsp
                For more information please visit  <a href="https://docs.quandl.com/docs/python-installation"> Quandl's Python API documentation</a> and <a href="https://www.quandl.com/databases/WIKIP/documentation?anchor=about"> WIKI datasets</a> 
                

            
            </p>

            <br>
            <H3>&nbspYou can find other interesting projects on my <a href="https://github.com/cemgursan">Github</a> account!
            
            
            </H3> &nbspYou can contact me through <a href="https://www.linkedin.com/in/cem-gursan-a8330941/">LinkedIn</a> </H3>

            

        <HR>
            
        <img style="max-width: 500px;"src="/static/images/flask.jpg"> 



</BODY>
{% endblock menu %}
</HTML>