<!DOCTYPE html>
<html lang="en" >


<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>
<main>{% block main %} {% endblock%}</main>
 <body>
   
    
    <header>
              
        <div class="navbar" style="position:relative; z-index:10">
          
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('jinja') }}">Jinja Tutorials</a>
            <a href="{{ url_for('signin') }}">Sign in</a>
            <a href="{{ url_for('signup') }}">Sign up</a>
        </div>
        {% block menu %}
        {% endblock %} 
    </header>
    
    <script> src="{{url_for('static', filename='js/app.js')}}"</script>
    
    
    
 </body>
</html>

